
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: white;
  --secondary-color: rgb(15, 1, 1);
  --default: rgb(53, 52, 52);
}

.avatar-round {
  border-radius: 50%;
}
.avatar-square {
  border-radius: 25%;
}
img{
  margin: 1rem ;
}


.img-xl {
  height: 4rem;
  width: 4rem;
}
.img-lg {
  height: 3rem;
  width: 3rem;
}
.img-md {
  height: 2rem;
  width: 2rem;
}
.img-sm {
  height: 1rem;
  width: 1rem;
}
