.card-container{
  display: flex;
  justify-content: center;
  background-color: var(--primary-color)
}
.card {
  color: var(--secondary-color);
  width: 16rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border: 1px solid var(--black);
  box-shadow: 1px 1px 10px var(--black);
}

.card-title {
  margin: 0.4rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.card-btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.4rem;
  margin: 0.1rem 0; 
  cursor: pointer;
}
.card-logo {
  margin: 0;
  width: 100%;
}
.card-price {
  font-weight: bold;
  font-size: 1.2rem;
}
.card-desc {
  margin: 1rem 0;
}
.card-logo, .card-price, .card-desc{
  color: var(--black);
}
.card-vertical,
.card-dismiss,
.card-text-badge,
.card-text-overlay {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  width: 17rem;
}
.card-dismiss,
.card-text-badge,
 .card-text-overlay {
  position: relative;
}
.card-dismiss-btn,
.card-text-over {
  position: absolute;
  right: 1rem;
}

.card-btn {
  border: none;
  width: 100%;
}
.card-vertical-btn,.card-horizontal-btn {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.card-horizontal {
  display: flex;
  width: 30rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.card-horizontal-logo {
  margin: auto 0;
  padding-right: 1rem;
  width: 15rem;
}
.card-text {
  position: absolute;
  padding: 1.5rem 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 0.9;
  right: 0;
  top: 0;
}

.card-overlaid-text{
  position: absolute;
  font-size: 2rem;
  top: 3rem;
  color: rgb(41, 80, 255);
  font-weight: bold;
}
