@import url("/styles/component.css");
:root {
  --primary-color: white;
  --secondary-color: rgb(15, 1, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  color: var(--primary-color);

  background-color: var(--secondary-color);
}
#nav-menu {
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;

  width: 60vw;
  cursor: pointer;
}
.text-decorations {
  text-decoration: none;
}
.text-white {
  color: var(--primary-color);
}
#main-section {
  flex-direction: column;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-section-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

#main-section-btn {
  margin: 1rem 0;
  padding: 0.5rem 0.9rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

#main-section-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#main-section-github {
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

#main-section-github:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#footer-icons {
  background-color: var(--secondary-color);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  color: var(--primary-color);
  font-size: 1.4rem;
  padding: 0 1.2rem;
}
