.btn-container{
  display: flex;
  justify-content: center;
}
.btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.2rem 0.3rem;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
}

.btn-default {
  background-color: var(--btn-default);
}

.btn-primary {
  background-color: var(--btn-primary);
}

.btn-secondary {
  background-color: var(--btn-secondary);
}

.btn-success {
  background-color: var(--btn-success);
}

.btn-default-out {
  outline: 1px solid var(--btn-default);
}

.btn-primary-out {
  outline: 1px solid var(--btn-primary);
}

.btn-secondary-out {
  outline: 1px solid var(--btn-secondary);
}

.btn-success-out {
  outline: 1px solid var(--btn-success);
}

.btn-default-out:hover {
  background-color: var(--btn-default);
}

.btn-primary-out:hover {
  background-color: var(--btn-primary);
}

.btn-secondary-out:hover {
  background-color: var(--btn-secondary);
}

.btn-success-out:hover {
  background-color: var(--btn-success);
}

.btn-link {
  background-color: var(--btn-link);
}

.btn-text-decoration {
  text-decoration: none;
  color: var(--secondary-color);
}

.btn-icons {
  border: 1px solid var(--secondary-color);
}

.btn-desc {
  margin: 0 1rem;
}

.btn-float {
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
}