.container {
  display: flex;
  text-transform: capitalize;
}

.inner-container {
  margin-left: 20rem;
  width: 100%;
}

.inner-container-title {
  font-weight: bolder;
}
.inner-container-types,
.inner-container-title,
.inner-container-desc {
  color: var(--secondary-color);
  padding: 1rem;
  width: 100%;
}
.inner-container-desc{
border: 3px solid var(--secondary-color);
margin: 1rem 0;
}

.code-snippet{
   height: 10rem;
   margin-top: 1rem;
   padding: 1rem;
   border: 3px solid var(--secondary-color);
   width: 100%;
}
.component-container{
  border: 3px solid var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .inner-container{
    margin-left: revert;
  }
}