#nav-bar {
  display: flex;
  align-items: center;
  height: 15vh;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
#nav-brand{
  margin-left: 1rem;
}
#nav-menu {
  margin-left: auto;
  text-transform: uppercase;
  display: flex;
  width: 60vw;
  cursor: pointer;
  justify-content: space-evenly;
}


