#nav-bar {
  display: flex;
  align-items: center;
  height: 15vh;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position: sticky;
  z-index: 1;
  top: 0;
}
#nav-brand{
  margin-left: 1rem;
  text-transform: uppercase;
}
#nav-menu {
  margin-left: auto;
  text-transform: uppercase;
  display: flex;
  width: 40vw;
  cursor: pointer;
  justify-content: space-evenly;
}
.hamburger-menu{
  display: none;
}
@media screen and (max-width: 992px) {
  .hamburger-menu{
    display: block;
  }
}


