#sidebar {
  padding: 1rem;
  border-radius: 3%;
  background: var(--secondary-color);
  width: 17rem;
  text-align: center;
  position: fixed;
  overflow-y: scroll;
  top: 7rem;
  bottom: 0;
}

.sidebar-items {
  font-weight: bold;
  margin: 1rem 0;
  list-style: none;
}
.remove-text-decoration {
  color: var(--primary-color);
  text-decoration: none;
}
.add-hover:hover {
  color: var(--black);
}


@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
  }
}