
.list-container {
  display: flex;
  justify-content: center;
}

.list-style {
  margin: 0.5rem 1rem;
  width: 4rem;
}

.list-type-stacked {
  list-style: none;
  text-align: center;
}
.list-type-stacked .list-style {
  width: 12rem;
  border: 3px solid var(--secondary-color);
  padding: 1rem 2rem;
  background-color: var(--default);
  border-radius: 1rem;
  color: var(--primary-color);
}

.list-type-bullet {
  list-style: circle;
}
.list-type-disc {
  list-style: disc;
}
.list-type-disc {
  list-style: square;
}
.list-type-number {
  list-style-type: decimal;
}
.list-type-alphabet {
  list-style-type: upper-alpha;
}
.list-type-roman {
  list-style-type: upper-roman;
}
.list-type-no-bullets {
  list-style: none;
  border: 1px solid var(--secondary-color);
  background-color: var(--default);
  color: var(--primary-color);
  padding: 1rem 4rem;
}
