
.container {
  display: flex;
  text-transform: capitalize;
}

.inner-container {
  flex-grow: 1;
}

.inner-container-title {
  font-weight: lighter;
}
.inner-container-types,
.inner-container-title,
.inner-container-desc {
  padding: 1rem;
}

.code-snippet{
   width: 40rem; 
   height: 10rem;
   border: none;
   margin-top: 1rem;
}
.component-container{
  background-color: var(--hover-color);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 40rem;
}