.alert {
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.alert-primary {
  color: var(--light-blue);
  background-color: var(--dark-blue);
}
.alert-secondary {
  color: var(--dark-yellow);
  background-color: var(--light-yellow);
}
.alert-success {
  color: var(--light-green);
  background-color: var(--dark-green);
}
.alert-danger {
  color: var(--light-red);
  background-color: var(--dark-red);
}
.alert-primary-outline {
  outline: 3px solid var(--light-blue);
  color: var(--light-blue);
}
.alert-secondary-outline {
  outline: 3px solid var(--dark-yellow);
  color: var(--dark-yellow);
}
.alert-success-outline {
  outline: 3px solid var(--dark-green);
  color: var(--dark-green);
}
.alert-danger-outline {
  outline: 3px solid var(--dark-red);
  color: var(--dark-red);
}
