
.nav-container {
  font-size: 1.1rem;
}
.nav-menu {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  
}
.nav-menu-logo {
  display: inline;
  text-transform: none;
  font-weight: lighter;
  margin-left: 1.4rem;
}
.menu {
  margin-right: 1.4rem;
  text-transform: uppercase;
}
.search{
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  padding:0 .6rem;
  background-color: var(--primary-color);
}

.search-background{
 padding-left: .3rem;
 color: var(--secondary-color);
 
}
.search-bar{
  border: none;
  padding: .5rem 1rem;
  outline: none;
}
.menu-items {
  display: inline;
  padding: 9px;
  cursor: pointer;
}
.fas-icons{
  position: relative;
}
.count-items{
  font-size: 1rem;
  position: absolute;
  background-color: yellow;
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  color: var(--secondary-color);
  text-align: center;
  top: 0;
  right: 0;
}
