.grid-container {
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
}
.grid {
  display: grid;
}
.grid-col2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-items {
  margin: 1rem;
  background-color: var(--secondary-color);
  text-align: center;
  font-weight: bold;
  padding: 3rem;
  color: var(--primary-color);
  font-size: 1rem;
}
