.rating-container {
  max-width: 12rem;
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  text-align: center;
  background-color: var(--hover-color);
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  
}

.fa-unchecked {
  color: var(--secondary-color);
}
