#sidebar {
  padding: 1rem;
  min-width: 17rem;
  border-radius: 3%;
  background: var(--secondary-color);
  height: 25rem;
  margin: 1rem;
  text-align: center;
}

.sidebar-items {
  font-weight: bold;
  margin: 1rem 0;
  list-style: none;
}
.remove-text-decoration{
  color: var(--primary-color);
  text-decoration: none;
}
.add-hover:hover{
  color: var(--black);
}
